.selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ecc71;
  position: sticky;
  top: 44px;
  padding: 6px 0px;
}
.selectTagLine {
  font-size: 30px;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-weight: 100;
  margin-right: 15px;
  color: white;
}
.selectCategory {
  padding: 5px 5px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: #2ecc71;
  font-weight: bolder;
}

@media only screen and (max-width: 651px) {
  .selectTagLine {
    font-size: 4vw;
  }
  .selectCategory {
    width: 25%;
  }
}
