.selectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 8px;
  left: 47%;
  z-index: 80;
}
.selectTagLine {
  font-size: 30px;
  font-family: "Roboto";
  letter-spacing: 1px;
  font-weight: 100;
  margin-right: 15px;
  color: white;
}
.selectCategory {
  padding: 5px 5px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: white;
  font-weight: bolder;
  color: #2ecc71;
  width: 60%;
}

@media only screen and (max-width: 651px) {
  .selectTagLine {
    font-size: 4vw;
  }
  .selectCategory {
    width: 60%;
  }
}
@media only screen and (max-width: 495px) {
  .firstPart_NavBar h1 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    margin-left: 0px;
    color: white;
    font-size: 6vw;
  }
  .selectContainer {
    left: 42%;
    padding: 4px 0px;
    top: 0%;
  }
  .navFollow_Icon {
    border-radius: 15px;
    padding: 1px 2px;
  }
}

@media only screen and (max-width: 315px) {
  .selectContainer {
    left: 34%;
    padding: 1px 0px;
    top: 0.5%;
  }
  .selectCategory {
    width: 40%;
  }
}
